div{
    height: 300px;
    width: 300px;
    background-image: url(figura-triangular-geometrica-legal-em-uma-luz-de-laser-neon-otima-para-fundos-e-papeis-de-parede.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 600px;
    
}

p{
    color: white;
    padding: 5px;
}